.dropdown {
    position: relative;
    display: inline-block;

    &-toggle {
        display: inline-block;
        border: none;
        border-radius: 3px;
        padding: 3px;
        background: $azure;
        color: $white;
        cursor: pointer;
        text-align: center;
    }

    &-menu {
        z-index: 9;
        position: absolute;
        top: 100%;
        background-color: $white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        &-item {
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}